body{
    background-color:rgb(231, 236, 203);
}

.title {
    color: #f808a8;
    font-family:fantasy;
}

.headername{
    background-color: aqua;
    padding:40px;
    border:3px solid rgb(11, 27, 243);
    font-size:60px;
    color:#412525;
    font-family: cursive;
}

.main{
    background-color:rgb(132, 206, 235);
}

.top_perfume{
    display:block;
    width:50%;
    height:auto;
    border:1px solid black;
    margin:auto;
}



